In [21]:
import sqlite3
import pandas as pd


connexion = sqlite3.connect("../DB/vivino.db")
cursor = connexion.cursor()

In [3]:
%load_ext sql

%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [4]:
# Connecting to the database
%sql sqlite:///../DB/vivino.db

Connecting to 'sqlite:///../DB/vivino.db'

In [5]:
%%sql
-- Lists all the tables in a particular database
SELECT name FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///../DB/vivino.db'

+------------------------------+
|             name             |
+------------------------------+
|          countries           |
|            grapes            |
|           keywords           |
|           regions            |
| most_used_grapes_per_country |
|           toplists           |
|            wines             |
|           vintages           |
|        keywords_wine         |
|  vintage_toplists_rankings   |
+------------------------------+

In [5]:
# %%sql
# DROP TABLE IF EXISTS flavor_groups

Running query in 'sqlite:///vivino.db'

++
||
++
++

In [6]:
# # %%sql
# DROP TABLE IF EXISTS wineries

Running query in 'sqlite:///vivino.db'

++
||
++
++

In [6]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

Running query in 'sqlite:///../DB/vivino.db'

+------------------------------+
|             name             |
+------------------------------+
|          countries           |
|            grapes            |
|           keywords           |
|           regions            |
| most_used_grapes_per_country |
|           toplists           |
|            wines             |
|           vintages           |
|        keywords_wine         |
|  vintage_toplists_rankings   |
+------------------------------+

### 1. We want to highlight 10 wines to increase our sales. Which ones should we choose and why?

In [19]:
%%sql

SELECT v.name AS wine_name,
       MIN(v.year) AS year,
       MIN(v.price_euros) AS price_euros,
       MAX(v.ratings_average) AS ratings_average,
       MAX(wines.ratings_count) AS ratings_count
FROM vintages v
JOIN wines ON v.wine_id = wines.id
JOIN vintage_toplists_rankings ON v.id = vintage_toplists_rankings.vintage_id
WHERE v.price_euros < 300
GROUP BY wines.name
ORDER BY MIN(vintage_toplists_rankings.rank) ASC
LIMIT 10;

Running query in 'sqlite:///../DB/vivino.db'

+---------------------------------------------------------------------+------+-------------+-----------------+---------------+
|                              wine_name                              | year | price_euros | ratings_average | ratings_count |
+---------------------------------------------------------------------+------+-------------+-----------------+---------------+
|   San Marzano 60 Sessantanni Old Vines Primitivo di Manduria 2018   | 2017 |    24.75    |       4.5       |     94289     |
|           Tommasi Amarone della Valpolicella Classico 2018          | 2017 |     49.8    |       4.4       |     77515     |
| Buena Vista Chateau Buena Vista Cabernet Sauvignon Napa Valley 2018 | 2018 |    61.95    |       4.4       |     13415     |
|                 Guerrieri Guerriero della Terra 2019                | 2019 |     27.4    |       4.4       |     10185     |
|                    Charles Melton Nine Popes 2015                   | 2015 |    114.6    |       4.4       |      2118     |
|    Bodegas Tradición Palo Cortado Tradición Vors 30 Years Sherry    | N.V. |    99.95    |       4.4       |      1050     |
|                Arzuaga Reserva Ribera del Duero 2018                | 2018 |    39.55    |       4.4       |     11233     |
|                    Pago de Carraovejas Tinto 2020                   | 2019 |    42.95    |       4.5       |     65625     |
|                  Château des Tours Vacqueyras 2011                  | 2011 |    250.0    |       4.4       |      3412     |
|     Dal Forno Romano Valpolicella Superiore Monte Lodoletta 2004    | 2004 |    243.75   |       4.5       |     13024     |
+---------------------------------------------------------------------+------+-------------+-----------------+---------------+

In [25]:
query1 = """SELECT v.name AS wine_name,
       MIN(v.year) AS year,
       MIN(v.price_euros) AS price_euros,
       MAX(v.ratings_average) AS ratings_average,
       MAX(wines.ratings_count) AS ratings_count
FROM vintages v
JOIN wines ON v.wine_id = wines.id
JOIN vintage_toplists_rankings ON v.id = vintage_toplists_rankings.vintage_id
WHERE v.price_euros < 300
GROUP BY wines.name
ORDER BY MIN(vintage_toplists_rankings.rank) ASC
LIMIT 10;
"""
df = pd.read_sql_query (query1, connexion)
df.to_csv("../CSV/csv_10_wines.csv", index=False)
df.head()

,wine_name,year,price_euros,ratings_average,ratings_count
0,San Marzano 60 Sessantanni Old Vines Primitivo...,2017,24.75,4.5,94289
1,Tommasi Amarone della Valpolicella Classico 2018,2017,49.80,4.4,77515
2,Buena Vista Chateau Buena Vista Cabernet Sauvi...,2018,61.95,4.4,13415
3,Guerrieri Guerriero della Terra 2019,2019,27.40,4.4,10185
4,Charles Melton Nine Popes 2015,2015,114.60,4.4,2118

### We would like to give awards to the best wineries. Come up with 3 relevant ones. Which wineries should we choose and why?

In [ ]:
%%sql